@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

body {
  font-family: "Kumbh Sans", sans-serif;
  color: var(--color-very-dark-blue);
}

svg {
  cursor: pointer;
}

.container {
  margin-inline: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1110px;
  }
}

.nav-link {
  transition: 0.3s;
  position: relative;
}
.nav-link:hover {
  color: var(--color-very-dark-blue);
}
@media (min-width: 768px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: -46px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 0;
    background-color: var(--color-orange);
    transition: 0.3s;
  }
  .nav-link:hover::before {
    width: 100%;
  }
}

.slide {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 500ms opacity;
}
.slide-popup {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 500ms opacity;
}

#thumbnails img.active {
  opacity: 0.3;
}
#thumbnailsPopup img.active {
  filter: brightness(50%);
}